<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>IQ Sports Authority</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <script src="https://kit.fontawesome.com/3a611a7bd4.js" crossorigin="anonymous"></script>
  <!-- =======================================================
  * Template Name: Gp
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Updated: Aug 15 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/assets/img/logo.png" alt=""> -->
        <img class="sitename" src="/assets/img/IQSA-Logo-side.png"></img>
        <span></span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#resources">Resources</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="/login">Login</a>

    </div>
  </header>
  <!-- <div id="preloader"></div> -->


  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="/assets/img/turfField.jpg" alt="" data-aos="fade-in">

      <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="0">
          <div class="col-xl-6 col-lg-8">
            <h2>A Smart Resource For Athletes<span></span></h2>
            <p>Join the #1 athlete development, scouting & recruiting network in the US!</p>
          </div>
        </div>

        <div style="text-align: center; margin-bottom: 2px;" data-aos="fade-up" data-aos-delay="0">
            <h4 style="margin-top: 50px;">Member Resources</h4>
        </div>        

        <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="0">
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="0">
            <div class="icon-box">
              <i class="bi bi-calendar4-week"></i>
              <h3><a href="">IQSA Events</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="0">
            <div class="icon-box">
              <i class="bi bi-newspaper"></i>
              <h3><a href="">IQSA News & Info</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="0">
            <div class="icon-box">
              <i class="bi bi-backpack"></i>
              <h3><a href="">Sports Career Guidance</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="0">
            <div class="icon-box">
              <i class="bi bi-person-gear"></i>
              <h3><a href="">Sports Career Management</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="0">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h3><a href="">Scouting and Recruiting Opportunities</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="0">
            <div class="icon-box">
                <i class="fa-solid fa-people-group"></i>
              <h3><a href="">IQSA Teams</a></h3>
            </div>
          </div>
            <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="50">
                <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box">
                    <i class="fa-solid fa-dumbbell"></i>
                    <h3><a href="">Fitness Training</a></h3>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4" data-aos="fade-up" >
                  <div class="icon-box">
                    <i class="fa-solid fa-person-running"></i>
                    <h3><a href="">Skills Training</a></h3>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4" data-aos="fade-up" >
                  <div class="icon-box">
                    <i class="fa-solid fa-stethoscope"></i>
                    <h3><a href="">Sports Medicine</a></h3>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4" data-aos="fade-up" >
                  <div class="icon-box">
                    <i class="fa-solid fa-head-side-virus"></i>
                    <h3><a href="">Sports Psychology</a></h3>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4" data-aos="fade-up" >
                  <div class="icon-box">
                    <i class="bi bi-droplet-half"></i>
                    <h3><a href="">Sports Nutrition</a></h3>
                  </div>
                </div>
                <div class="col-xl-2 col-md-4" data-aos="fade-up" >
                    <div class="icon-box">
                      <i class="bi bi-buildings"></i>
                      <h3><a href="">Workout Facilities</a></h3>
                    </div>
                  </div>
        </div>

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" >

        <div class="row gy-4">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="/assets/img/GettyImages-1278976828.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content">
            <h3>Who We Are</h3>
            <p >
                IQ Sport Authorities (IQSA) was formed in 2024 by a group of experienced athletes with many years of involvement in sports including at the professional level and from a broad range sports as well as serving in a variety of positions within the sporting industry. It was a clear and obvious decision for these professionals to orgnize an enterprise that would serve young athletes through sound and professional guidance as well as providing specialized resources to advance the career and experience of our amature and pro clients.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">

      <div class="container" data-aos="fade-up" >

        <div class="swiper init-swiper">
            <h4 style="text-align: center;">Friends of IQ Sport Authorities</h4>
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 60
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/assets/img/clients/Bronson-K.png" class="img-fluid" alt="">
                <div class="hover-text">Bronson Kaufusi</div>
            </div>
            <div class="swiper-slide"><img src="/assets/img/clients/Garrett-Bolles.png" class="img-fluid" alt="">
                <div class="hover-text">Garrett Bolles</div>
            </div>
            <div class="swiper-slide"><img src="/assets/img/clients/Kaufusi.png" class="img-fluid" alt="">
                <div class="hover-text">Bronson & Steve Kaufusi</div>
            </div>
            <div class="swiper-slide"><img src="/assets/img/clients/Kyle-Van-Noy.png" class="img-fluid" alt="">
                <div class="hover-text">Kyle Van Noy</div>
            </div>
            <div class="swiper-slide"><img src="/assets/img/clients/Ty-Detmer.png" class="img-fluid" alt="">
                <div class="hover-text">Ty Detmer</div>
            </div>
            <div class="swiper-slide"><img src="/assets/img/clients/Zach-Wilson.png" class="img-fluid" alt="">
                <div class="hover-text">Zach Wilson</div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Clients Section -->

    <!-- Services Section -->
    <section id="resources" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resources</h2>
        <p>Check out our Resources</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
        <div class="row" style="display: flex; justify-content: center; align-items: flex-start; gap: 30px;">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" >
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-person-circle-check"></i>
              </div>
                <h3>Member Benefits</h3>
              <p>What IQSA provides first and foremost are resources. That may be guidance from a professional, it could be physical training from a licensed fitness trainier, it could be recruiting or negotiating an opportunity with a team, college or an NIL deal. Whatever furthers an athletes opportunities, IQSA can likely provide it and/or connect to it. Just ask!</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" >
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-handshake-simple"></i>
              </div>
                <h3>Membership Has Its Priviledges</h3>
              <p>IQSA puts its full backing to support its member athletes development and progress. We take careful care of all our members and offer attention to the needs our members require to advance their athletic career. Only IQSA members recieve discount pricing from our world-class providers and support and experiences no other athletes outside our association is entitled to.  </p>
            </div>
          </div><!-- End Service Item -->
        </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-user-tie"></i>
              </div>
                <h3>Pro-Level Providers</h3>
              <p>We have carfully researched and vetted all our providers to ensure they are the best in their field. </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" >
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-football"></i>
              </div>
                <h3>Sports Opportunities</h3>
              <p>IQSA is linked to several contacts that can provide an opportunitiy for our eligable members to advance their careers that otherwise would have been impossible or very difficult on their own. IQSA continues to be active in meeting and connecting with high ranking officials at all levels. </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" >
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-archway"></i>
              </div>
                <h3>IQSA SPORTS COMPLEX</h3>
              <p>IQSA plans to build a Premier sports complex in the Salt Lake County area that will host local and national tournaments. The complex will be a facility primarly for its members,  to develop their skills and conditioning. The complex will be a world-calss facility that will attract athletes from all over the world.</p>
            </div>
          </div><!-- End Service Item -->
        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="/assets/img/IMG_2154.JPEG" alt="">

    </section><!-- /Call To Action Section -->

    <!-- Portfolio Section -->
    <section id="news" class="portfolio section">
        
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>News</h2>
        <p>Check out the Latest News in Sports</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" >
            <a href="https://www.sportingnews.com/us/nba/news/olympics-basketball-gold-medal-odds-expert-picks-2024/9b30cbed1a1035b949cc9e7c"><li >Who will win Olympics basketball?</li></a>
            <a href="https://www.sportingnews.com/us/ncaa-football/news/big-ten-network-crew-predicts-conference-championship-game-ohio-state-buckeyes/2bb8587b56810fc6f0df0942?dicbo=v2-AwHEXyD"><li>Big Ten Network crew unanimous on conference title game predictions</li></a>
            <a href="https://www.forbes.com/sites/siladityaray/2024/07/24/salt-lake-city-will-host-the-2034-winter-olympics/"><li >Salt Lake City Will Host 2034 Winter Olympics</li></a>
            <a href="https://www.packers.com/news/packers-sign-qb-jordan-love-to-contract-extension-2024"><li>Packers sign QB Jordan Love to contract extension </li></a>
            <a href="https://www.si.com/olympics/2024-summer-olympics-medal-count-live-updates-french-games"><li>2024 Summer Olympics Medal Count</li></a>
            <a href="https://bestdiplomats.org/most-popular-sports-in-the-world/"><li>Most Popular Sports In The World in 2024</li></a>
            <a href="https://www.yardbarker.com/nfl/articles/report_denver_broncos_qb_zach_wilson_has_shown_more_sheer_talent_than_bo_nix_this_offseason/s1_17068_40598274"><li>Zach Wilson is the Broncos most talented QB</li></a>
          </ul><!-- End Portfolio Filters -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="/assets/img/si-vault_michael-jordan4jpg.jpg" class="testimonials-bg" alt="">


    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>our Team</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" >
            <div class="team-member">
              <div class="member-img">
                <img src="/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" >
            <div class="team-member">
              <div class="member-img">
                <img src="/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>General Manager</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" >
            <div class="team-member">
              <div class="member-img">
                <img src="/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Director of Recruiting</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" >
            <div class="team-member">
              <div class="member-img">
                <img src="/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Director of Marketing</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" >

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" >
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Salt Lake City, Utah, USA</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" >
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>385-412-6100</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" >
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>admin@iqsporta.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" >
              <div class="row gy-4">

                <div class="col-md-6">
                  <input id="name" type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input id="email" type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input id="subject" type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea id="box" class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>
                <button type="submit" onclick="ThanksMessage()">Send Message</button>
                <!-- <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="sent-message">Your message has been sent. Thank you!</div> -->

                  <script>
                    function ThanksMessage(){
                        alert('Thank you for your message! Someone from our team will reach out to you soon.');
                        // document.getElementById('name').reset();
                    }
                  </script>
                  <!-- <button type="submit" onclick="ThanksMessage">Send Message</button> -->
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="/" class="logo d-flex align-items-center">
                <img class="sitename" src="/assets/img/IQSA-Logo-side.png"></img>
                <span></span>
            </a>
            <div class="footer-contact pt-3">
              <p>Salt Lake City, Utah, USA</p>
              <p class="mt-3"><strong>Phone:</strong> <span>385-412-6100</span></p>
              <p><strong>Email:</strong> <span>admin@iqsporta.com</span></p>
            </div>
            <div class="social-links d-flex mt-4">
              <a href="https://www.tiktok.com/@iqsportauthorities"><i class="bi bi-tiktok"></i></a>
              <a href="https://www.instagram.com/iqsportauthorities/"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/company/m9-group-holdings/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#about"> About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#resources"> Resources</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#news"> News</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#team"> Our Team</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#contact"> Contact Us</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container text-center">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">IQ Sport Authorities</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by Team 1-4 Distributed by <a href="https://marriott.byu.edu/infosys/">BYU IS Program</a>
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>